[submodule "auth-service"]
	path = auth-service
	url = https://github.com/codekesh/auth-service.git
[submodule "tracking-service"]
	path = tracking-service
	url = https://github.com/codekesh/tracking-service.git
[submodule "analytics-service"]
	path = analytics-service
	url = https://github.com/codekesh/analytics-service.git
[submodule "ai-tracking-frontend"]
	path = ai-tracking-frontend
	url = git@github.com:codekesh/ai-tracking-frontend.git
